<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script src="https://kit.fontawesome.com/b085dc95bb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js" integrity="sha256-qXBd/EfAdjOA2FGrGAG+b3YBn2tn5A6bhz+LSgYD96k=" crossorigin="anonymous"></script> 
    <style>

        body {
            font-family: 'Roboto', sans-serif;
        }

        img {
            width: 500px;
            height: 200px;
        }

        @media only screen and (max-width: 1000px) {
            img {
                width: 300px;
                height: 250px;
                display: block;
                margin-left: auto;
                margin-right: auto;


            }
        }



    </style>

</head>
<body>

    <div id="root"></div>

    <script type="text/babel">

    const {useState, useEffect} = React

    function Header() {
        return (
            <div className="container text-center p-3" style={{backgroundColor: "#19241A",  color: "#68A691"}}>
                <div className="row">
                    <div className="col">
                        <i className="fab fa-reddit" style= {{fontSize: "5em",}}></i>
                        <h1>Reddit API Test</h1>
                    </div>
                    <div className="col" style={{display:"block", marginLeft:"auto", marginRight:"auto"}}>
                        <h2>r/Memes</h2>
                        <p>Memes! A way of describing cultural information being shared. An element of a culture or system of behavior that may be considered to be passed from one individual to another by nongenetic means, especially imitation.</p>
                    </div>
                </div> 
            </div>
        )
    }

    function Navbar() {
        return (
            <nav className="container d-flex justify-content-center navbar navbar-dark sticky-top shadow" style={{backgroundColor: "#967386"}}>
                <a className="navbar-brand " href="#">Home</a>
            </nav>
        )
    }

    function Section() {
        return (
            <div className="container p-3">
                <div className="row">
                    <div className="col p-3">
                        <img className="shadow-sm"src="https://media.giphy.com/media/iE4e5c8ExJUhdhvSiw/giphy.gif"/>
                    </div>
                    <div className="col p-3">
                        <h1>Featured posts</h1>
                        <h2>r/Memes</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, maiores, hic saepe nihil voluptatem enim id tenetur molestiae vitae officiis ratione quas iure rem provident, at architecto? Dignissimos, eum reprehenderit?</p>
                    </div>
                </div>
            </div>
        )
    }

    function Visit() {
        return (
            <div className="text-center container">
                <h1><i className="fab fa-reddit" style= {{fontSize: "1em",}}></i> r/Memes</h1>
            </div>
        )
    }

    function Top() {
        const [posts, setPosts] = useState([])

        useEffect(() => {
            axios.get(`https://www.reddit.com/r/Memes/top.json`)
            .then(res => {
                setPosts(res.data.data.children.map(x => x.data))

            })
            .catch(err => { console.log(err)})
        },[])

        console.log(posts)


        if (_.isEmpty(posts)) {
            return ( <h1 class="text-center p-3" >...Loading</h1>)
        }
        else
        return (
            <div className="container p-3">
                <h2 href="https://www.reddit.com/r/Memes/top" className="text-center p-3">Top Posts</h2>
                <div className="row">
                    {posts.slice(0,4).map(post => (
                    <div className="col">
                        <div className="card shadow-sm" style={{width: "18rem", backgroundColor:"#967386", color: "white" , display: "block", marginLeft:"auto" ,marginRight:"auto", marginBottom:"10px"}}>
                            <img src={post.url_overridden_by_dest}className="card-img-top"/>
                            <div className="card-body">
                                <h5 className="card-title font-weight-bold">{post.title}</h5>
                                <p className="card-text">{post.selftext}</p>
                                <a href={`https://www.reddit.com/${post.permalink}`} className="btn btn-secondary">Visit Post</a>
                            </div>
                        </div>
                    </div>
                    ))}
                </div>
            </div>
        )
    }

    function Hot() {
        const [posts, setPosts] = useState([])

        useEffect(() => {
            axios.get(`https://www.reddit.com/r/Memes/hot.json`)
            .then(res => {
                setPosts(res.data.data.children.map(x => x.data))

            })
            .catch(err => { console.log(err)})
        },[])

        console.log(posts)


        if (_.isEmpty(posts)) {
            return ( <h1 class="text-center p-3" >...Loading</h1>)
        }
        else
        return (
            <div className="container p-3">
                <h2 href="https://www.reddit.com/r/Memes/top" className="text-center p-3">Hot Posts</h2>
                <div className="row">
                    {posts.slice(0,4).map(post => (
                    <div className="col">
                        <div className="card shadow-sm" style={{width: "18rem", backgroundColor:"#967386", color: "white" , display: "block", marginLeft:"auto" ,marginRight:"auto", marginBottom:"10px"}}>
                            <img src={post.url_overridden_by_dest}className="card-img-top"/>
                            <div className="card-body">
                                <h5 className="card-title font-weight-bold">{post.title}</h5>
                                <p className="card-text">{post.selftext}</p>
                                <a href={`https://www.reddit.com/${post.permalink}`} className="btn btn-secondary">Visit Post</a>
                            </div>
                        </div>
                    </div>
                    ))}
                </div>
            </div>
        )
    }

    function New() {
        const [posts, setPosts] = useState([])

        useEffect(() => {
            axios.get(`https://www.reddit.com/r/Memes/new.json`)
            .then(res => {
                setPosts(res.data.data.children.map(x => x.data))

            })
            .catch(err => { console.log(err)})
        },[])

        console.log(posts)


        if (_.isEmpty(posts)) {
            return ( <h1 class="text-center p-3" >...Loading</h1>)
        }
        else
        return (
            <div className="container p-3">
                <h2 href="https://www.reddit.com/r/Memes/top" className="text-center p-3">New Posts</h2>
                <div className="row">
                    {posts.slice(0,4).map(post => (
                    <div className="col">
                        <div className="card shadow-sm" style={{width: "18rem", backgroundColor:"#967386", color: "white" , display: "block", marginLeft:"auto" ,marginRight:"auto", marginBottom:"10px"}}>
                            <img src={post.url_overridden_by_dest}className="card-img-top"/>
                            <div className="card-body">
                                <h5 className="card-title font-weight-bold">{post.title}</h5>
                                <p className="card-text">{post.selftext}</p>
                                <a href={`https://www.reddit.com/${post.permalink}`} className="btn btn-secondary">Visit Post</a>
                            </div>
                        </div>
                    </div>
                    ))}
                </div>
            </div>
        )
    }

    function Footer() {
        return(
            <div className="container text-white text-center p-3" style={{backgroundColor: "#967386"}}>
                © 2020 Copyright:
                <a href="https://mdbootstrap.com/">Github/fr00tloops</a>
            </div>
        )
    }



    function App() {
        return (
            <div style={{backgroundColor:"#19241A", color: "#68A691"}}>
                <Header />
                <Navbar />
                <Section />
                <Visit />
                <Top />
                <Hot />
                <New />
                <Footer />
            </div>
        )
    }

    ReactDOM.render(
        <App />,
        document.getElementById('root')
    )
    
    
    </script>
    

</body>
</html>